<ul class="nav">
    <li><a class="active" href="/">Home</a></li>
    <li><a  href="weather">Weather</a></li>
    <li><a href="rickandmorty">Rick and Morty</a></li>
    <li><a href="nasa">NASA</a></li>
</ul>